option[value=white]      { background-color: white;                   }
option[value=orange]     { background-color: orange;                  }
option[value=magenta]    { background-color: magenta;                 }
option[value=light_blue] { background-color: lightblue;               }
option[value=yellow]     { background-color: yellow;                  }
option[value=lime]       { background-color: lime;                    }
option[value=pink]       { background-color: pink;                    }
option[value=gray]       { background-color: gray;      color: white; }
option[value=silver]     { background-color: silver;                  }
option[value=cyan]       { background-color: teal;      color: white; }
option[value=purple]     { background-color: purple;    color: white; }
option[value=blue]       { background-color: blue;      color: white; }
option[value=brown]      { background-color: brown;     color: white; }
option[value=green]      { background-color: green;     color: white; }
option[value=red]        { background-color: red;       color: white; }
option[value=black]      { background-color: black;     color: white; }